/* General Styles */
body {
  font-family: "Gill Sans", sans-serif;;
  line-height: 1;
}

/* Typography */

.display-3 {
  font-size: 4em;
}

.lead {
  font-size: 1.5em;
}

/* Header */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 10px;
}

/* Main */

main {
  /* padding: 10px; */
  margin: 10px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.input-group-text {
  width: 100px;
  margin-right:10px;
  color:black
}

.input-group {
  margin:10px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  margin-left: 10px;
}

.saveBtn:hover {
  font-size: 18px;
  background-color: white;
  color: #06aed5;
  transition: all 0.15s ease-in-out;
}



/* Textarea colour of each hour dependent on time of day */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* Footer */
footer {
  border-top: 10px solid black;
  text-align: center;
  padding:1em;
}
a {
  color: black;
}

a:hover {
  color:#06aed5;
  font-size: 1.5em;
}
 





